---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
<section class="comments" id="comments">
  <div>{{page.issueid}}</div>
  <div id="githubissue_comments"></div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var reaction_fa = {
    "+1": "thumbs-o-up",
    "-1": "thumbs-o-down",
    "laugh": "smile-o",
    "hooray": "gift",
    "confused": "frown-o",
    "heart": "heart-o"
  };
  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var name = data[i].user.login;
      var content = data[i].body;
      $("#githubissue_comments").append("<div><p>name : " + name + "</p><p> content : " + content + "</p></div>");
    }
  }
  console.log(1);
  console.log({{page.issueid}});
  console.log(2);
  console.log({{GITHUB_REPO}});
  $.ajax("https://api.github.com/repos/mingpepe/blog/issues/3/comments", {
    headers: {Accept: "application/vnd.github.squirrel-girl-preview.full+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
    }
  });
});
</script>
