---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
<section class="comments" id="comments">
  <div>{{page.issueid}}</div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
  //console.log(GITHUB_REPO);
  console.log(1);
  //console.log(page.issueid);
  $.ajax("https://api.github.com/repos/mingpepe/issues/2/comments", {
    headers: {Accept: "application/vnd.github.squirrel-girl-preview.full+json"},
    dataType: "json",
    success: function(msg){
      console.log(msg);
    }
  });
</script>
