---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
{% if page and page.issueid %}
<section>
  <div id="githubissue_comments"></div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<style>
.comments {
  border-style: solid;
  margin-top: 5px;
  margin-left: 5px;
}
</style>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var name = data[i].user.login;
      var content = data[i].body;
      $("#githubissue_comments").append("<div class=comments><p>name : " + name + "</p><p> content : " + content + "</p></div>");
    }
    $("#githubissue_comments").append("<a href='https://github.com/mingpepe/blog/issues/{{page.issueid}}#new_comment_field}' class='button'>Leave comments</button>");
  }
  $.ajax("https://api.github.com/repos/mingpepe/blog/issues/{{page.issueid}}/comments", {
    headers: {Accept: "application/vnd.github.squirrel-girl-preview.full+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
    }
  });
});
</script>
{% endif %}
